<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinya.business.education.mapper.EducationContentMapper">

    <select id="findByFilters" resultType="com.xinya.business.education.entity.EducationContent">
        SELECT * FROM education_contents
        WHERE is_active = true
        <if test="stage != null and stage != ''">
            AND (stage = #{stage} OR stage IS NULL)
        </if>
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
        <if test="contentType != null and contentType != ''">
            AND content_type = #{contentType}
        </if>
        <if test="keyword != null and keyword != ''">
            AND title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY sort_order ASC, created_at DESC
    </select>

</mapper>
